.container
    .login
        .row
            .col-md-12
                .row
                    .col-md-12.text-center
                        h2= 'Password Reset'
                .row
                    .col-md-4.col-md-offset-4.well.well-lg
                        form(action='/passReset', method="POST")
                            .form-group
                                label.control-label(for='currentPassword')
                                    | Current Password
                                input#current.form-control(type='password', name='currentPassword')
                            .form-group
                                label.control-label(for='newPassword')
                                    | New Password
                                input#new.form-control(type='password', name='newPassword')
                            .form-group
                                label.control-label(for='confirmPassword')
                                    | Confirm
                                input#confirm.form-control(type='password', name='confirmPassword')
                            .form-group
                                button#reset.btn.btn-default(type='submit')
                                    | Reset
