.container-fluid
    h1
        | Create Pool
    form(role='form')
        .form-group
            label(for='pool-name')
            input#pool-name.form-control(placeholder='Enter a unique pool name')
        input#submit(class='btn btn-default', type='submit')= "Create"

