div.div-sidebar
    b
        | Your Pools
ul.nav.nav-sidebar
    for pool in models
        li
            a(href='javascript:false')
                .name
                    | #{pool.name}
    li
        a#new-pool(href='javascript:false')
            b
                | Create a pool
