form(role='form')
    .form-group-header
        h4 Make picks for (#{team1.seed}) #{team1.shortName} vs (#{team2.seed}) #{team2.shortName}

button.back.btn.btn-warning
    | BACK
button.save.btn.btn-success
    | SAVE PICKS