# Package Managers
/node_modules/

# Logs
/npm-debug.log

# Build files/folders
/dist/
/public/javascripts/dashboard.js
/public/javascripts/landing.js
/public/javascripts/jquery.js

# Config file
/src/config/custom.coffee

# rethink
/rethinkdb_data/