# Package Managers
/node_modules/

# Logs
/npm-debug.log

# Build files/folders
/dist/
!/public/javascripts/bootstrap.min.js
!/public/javascripts/bootstrap-datepicker.js
/public/

# Local Config file
/localConfigs/

# rethink
/rethinkdb_data/