extends layout

block append css
    link(rel='stylesheet', href='/stylesheets/datepicker3.css')

block append javascripts
    script(src='/javascripts/adminDashboard.js')
    script(src='/javascripts/bootstrap-datepicker.js')
