extends layout

block append css
    link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')

block append javascripts
    script(src='/javascripts/adminDashboard.js')
    script(src='/javascripts/moment.min.js')    
    script(src='/javascripts/bootstrap-datetimepicker.min.js')
