extends layout

block append css
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')

block append javascripts
    script(src='/javascripts/jquery.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='/javascripts/dashboard.js')

block content
    .content