extends layout

block content
    h1= 'Khello Fantasy Admin'
    form
        label(for='user')
            | Username
        input(type='text', name='user')
        label(for='password')
            | Password
        input(type='password', name='password')