doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block css
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    block javascripts
  body(class='#{app}')
    block content