select#category-select.form-control
    for category in models
        option(value='#{category.id}') #{category.name}
button#add.btn.btn-primary
    span
        span.glyph
            span.glyphicon.glyphicon-plus
    span.right-span ADD
