.container-fluid
    .row
        #create-header.col-md-6
            h1
                | Let's set up a new pool.
    .row
        .col-md-12
            form(role='form')
                .form-group
                    input#pool-name.form-control(placeholder='Enter a unique pool name')
                .form-group
                    select#pool-type.form-control(placeholder='Choose a type')
    .row
        .col-md-12
            button#submit(class='btn btn-success', type='submit')
                | Create Pool

