.container-fluid
    .row
        #edit-pool-header.col-sm-12.col-md-12.col-lg-12.page-header
            h1 #{name}
                small
                    | is open for business
    .row
        .col-md-8.col-lg-8
            form(role='form')
                #participants.form-group.well
                    .form-group-header
                        h4 Users
                            small
                                | Click to edit.
                #categories.form-group.well
                    .form-group-header
                        h4 Categories
                button#save-pool.btn.btn-success
                    | SAVE POOL
                #edit-palette.form-group.well


