.col-xs-8.col-sm-8.col-md-8.col-lg-8
    button.round.btn.btn-default
        | #{name}
.col-xs-4.col-sm-4.col-md-4.col-lg-4
    - var d = new Date(date);
    - var dateString = d.getDate() + '-' + (d.getMonth() + 1) + '-' + d.getFullYear();
    .input-group.date(data-date='#{dateString}', data-date-format='dd-mm-yyyy')
        input.form-control(type='text')
        span.input-group-addon
            i.glyphicon.glyphicon-th