body {
  padding: 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Dashboard */
#dashboard .navbar-brand {
    cursor: pointer;
}

#dashboard #sidebar-content {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

#dashboard .nav-sidebar,.div-sidebar {
    margin-right: -21px;
    margin-left: -20px;
}

#dashboard .nav-sidebar {
    margin-bottom: 20px;
}

#dashboard .nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}

#dashboard #action-area-content {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 30px;
}

#dashboard a {
    pointer: pointer;
}

#dashboard .div-sidebar {
    position: relative;
    display: block;
    padding: 10px 15px;
}

/* create pool form */
#dashboard #create-pool-form input, #submit {
    font-size: 18px;
}

#dashboard #create-pool-form #submit {
    width: 100%;
}

#dashboard #create-pool-form #create-header {
    margin: 0 auto;
}

/* generic message view */
#dashboard #generic-message p {
    font-size: 18px;
}

/* edit pool form view */
#dashboard .glyph {
    cursor: pointer;
}

#dashboard .form-group-header small {
    margin-left: 5px;
}

#dashboard .input-group, .form-control {
    margin-bottom: 15px;
}

#dashboard .right-span {
    margin-left: 5px;
}

#dashboard #save {
    font-size: 16px;
}

#dashboard #participants #users-list {
    width: 100%;
    font-size: 16px;
}

#dashboard #category-select {
    margin-bottom: 20px;
}

#dashboard #categories {
    font-size: 16px;
}

#dashboard #categories .label {
    margin-right: 4px;
}

#dashboard #participants .user-input {
    width: 100%;
    font-size: 16px;
}

#dashboard #rounds button.round {
    width: 100%;
}

#dashboard #rounds-container {
    padding-left: 0px;
}

#dashboard #rounds button.round-action {
    padding: 6px 6px;
}

#dashboard #rounds .round-col {
    padding-left: 0px;
}

#dashboard #rounds .series-list-item {
    display: inline;
}

#dashboard #rounds .series-list-item button {
    margin-right: 5px;
    margin-bottom: 5px;
}

