/* html elements */

body {
  padding: 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body.fantasy {
    padding: 0px;
}

a {
  color: #00B7FF;
}

.page-header {
    margin-top: 0;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #ddd;
}

/* Media size specific */

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .non-mobile-hidden {
        display: none;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .non-mobile-hidden {
        display: none;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .non-mobile-hidden {
        display: none;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .non-mobile-hidden {
        display: block;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .non-mobile-hidden {
        display: block;
    }
}


/* Dashboard */
#dashboard .navbar-brand {
    cursor: pointer;
}

#dashboard #sidebar-content {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

#dashboard .nav-sidebar,.div-sidebar {
    margin-right: -21px;
    margin-left: -20px;
}

#dashboard .nav-sidebar {
    margin-bottom: 20px;
}

#dashboard .nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}

#dashboard #action-area-content {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 30px;
}

#dashboard a {
    pointer: pointer;
}

#dashboard .div-sidebar {
    position: relative;
    display: block;
    padding: 10px 15px;
}

/* create pool form */
#dashboard #create-pool-form input, #submit {
    font-size: 18px;
}

#dashboard #create-pool-form #submit {
    width: 100%;
}

#dashboard #create-pool-form #create-header {
    margin: 0 auto;
}

/* generic message view */
#dashboard #generic-message p {
    font-size: 18px;
}

/* edit pool form view */
#dashboard .glyph {
    cursor: pointer;
}

#dashboard .form-group-header small {
    margin-left: 5px;
}

#dashboard .input-group, .form-control {
    margin-bottom: 15px;
}

#dashboard .right-span {
    margin-left: 5px;
}

#dashboard #save {
    font-size: 16px;
}

#dashboard #participants #users-list {
    margin: 10px 0;
    font-size: 16px;
}

#dashboard #category-select {
    margin-bottom: 20px;
}

#dashboard #categories {
    font-size: 16px;
}

#dashboard .label {
    margin-right: 4px;
}

#dashboard #participants .user-input {
    width: 100%;
    font-size: 16px;
}

#dashboard #pool-actions .btn {
    font-size: 16px;
}

#dashboard #rounds-container button.round {
    width: 100%;
}

#dashboard #rounds-container, #series-container {
    padding-left: 0px;
}

#dashboard #rounds-container button.round-action {
    padding: 6px 6px;
}

#dashboard #rounds-container .round-col {
    padding-left: 0px;
}

#dashboard #series-container .series-list-item {
    display: inline;
}

#dashboard #series-container .series-list-item button {
    margin-right: 5px;
    margin-bottom: 5px;
}

h1 small {
    padding-left: 5px;
}

label {
    display: block;
}

input[type=number] {
    display: inline-block;
    width: 70px;
}
.input-separator {
    margin: 0 10px;
}

/* User dashboard */

/* Header */

#nav-state {
    margin-left: 10px;
}