select#category-select.form-control
    if models.length > 0
        for category in models
            option(value='#{category.id}') #{category.name}
    else
        | No categories.

button#add.btn.btn-primary
    span
        span.glyph
            span.glyphicon.glyphicon-plus
    span.right-span ADD
