.container-fluid
    .row
        #edit-series-header.col-sm-12.col-md-12.col-lg-12.page-header
            h1
                | #{pool} > #{series}
                small
                    | detail
    .row
        form(role='form')
        button.save.btn.btn-success
            | SAVE
