.container-fluid
    .navbar-header
        .navbar-brand
            | Fantasy Dashboard
    .navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
            li
                a(href="/logout")
                    | logout

