#users-list
    if models.length > 0
        for user in models
            .label.label-default
                | #{user.email}
    else
        | No users.
button#edit-users.btn.btn-primary
    span
        span.glyph
            span.glyphicon.glyphicon-edit
    span.right-span EDIT