.round-col.col-xs-6.col-sm-6.col-md-6.col-lg-6
    button.round.btn.btn-default
        | #{name}
.col-xs-4.col-sm-4.col-md-4.col-lg-4
    - var d = new Date(date);
    - var dateString = d.getDate() + '-' + (d.getMonth() + 1) + '-' + d.getFullYear();
    .input-group.date(data-date='#{dateString}', data-date-format='dd-mm-yyyy')
        input.form-control(type='text')
        span.input-group-addon
            i.glyphicon.glyphicon-th
.col-xs-2.col-sm-2.col-md-2.col-lg-2
    button.round-action.btn.btn-primary
